form(method='POST', action='/powitanie/wyslij')
    | Imie :
    br
    input(type='text', name='imie')
    br
    |     Wiek :
    br
    input(type='text', name='wiek')
    br
    input(type='submit', value='Wyslij')
