extends admin
block admin
    br
    table(class='table table-striped table-hover')
        thead(class='thead-dark')
            tr
                th(scope='col') Samochód
                th(scope='col') Opis
                th(scope='col') Cena (1 dzień)
                th(scope='col') Dostępność
        tbody
        each item in daneFlota
            tr
                th #{item.markaAuto} #{item.modelAuto}
                th #{item.opisAuto}
                th #{item.cenaAuto} zł
                th
                    if item.statusAuto == 1
                        b(class='text-success') Dostępny
                        br
                        a(class="btn btn-warning btn-sm" href="/admin/samochod/dezaktywuj/" + item.idAuto role="button") Ustaw niedostępny
                    else
                        b(class='text-danger') Niedostępny
                        br
                        a(class="btn btn-success btn-sm" href="/admin/samochod/aktywuj/" + item.idAuto role="button") Ustaw dostępny
