doctype html
html
  block link
    -var wybor='';
  -var menu={'Strona główna': '/', 'Flota': '/samochody', 'Rezerwacja': '/rezerwacja'};
  - var maxKolumna=8;
  - var maxWiersz=5;

  head
    title #{title} - Wypożyczalnia samochodów
    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o", crossorigin="anonymous")
    //link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(class='site')
    #menu
      ul
        each url, wartosc in menu
          li
            if wybor === wartosc
              a.active(href=url, title=wartosc)=wartosc
            else
              a(href=url, title=wartosc)=wartosc
    #main
      #maincontent
        center
          block content
        br
      footer#foot
        center &copy; 2019 Adrian Bełciak