extends admin
block admin
        if statusUsuniecie==1
            .alert.alert-success(role='alert')
                | Status rezerwacji #{id} został pomyślnie zmieniony.
        else
            .alert.alert-danger(role='alert')
                | Wystąpił błąd podczas zmiany statusu rezerwacji #{id}.